body {

  background-color: #004d61;

}
h1{

color:#aeeff0


}

h3{

color: #aeeff0



}

hr {
  border-style: none;
  border-top-style: dotted;
  border-color: grey;
  border-width: 5px;
  width: 5%
}
